<h1>Users#show</h1>

<ul>
  <% if current_user.has_role?(:admin) %>
    <% User.all.each do |u| %>
      <li>
        <%= u.email %> <%= button_to "Delete", user_path(u), method: :delete, data: { confirm: "Really delete this user?" } %>
      </li>
    <% end %>
  <% end %>
</ul>
<%= link_to "home", root_path  %>
<p>Find me in app/views/users/show.html.erb</p>
