<h1>Reports#index</h1>

<%= link_to "upload binary", new_binary_path  %>
<%= link_to "upload url", new_url_path  %>
<%= link_to "search hash", new_hash_path  %>

<p>Find me in app/views/reports/index.html.erb</p>
