<h1><%= @user.username%> 's Profile</h1>
<%= javascript_include_tag "turbo", type: "module" %>
<%= link_to "Destroy", user_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
