<h1>BehaviorReports#show</h1>

<% if @behavior_report.any? %>
    <%= @behavior_report %>
<% else %>
  <h3>behavior report not found</h3>
<% end %>

<p>Find me in app/views/behavior_reports/show.html.erb</p>
