<h1>BehaviorReports#show</h1>
<%= link_to "home", reports_path  %>

<%behavior = JSON.parse(@behavior_report)%>
<% if behavior["data"].respond_to?(:each) %>
  <ul>
  <% behavior["data"].each do |box| %>
    <li>
      <h3><%=box[0]%></h3>
      <p>
      <ul>
        <% if box[1].respond_to?(:each) %>
          <% box[1].each do |box2| %>
            <li><%=box2%></li>
          <%end%>
        <%end%>

      </p>
      </ul>
    </li>
  <%end%>
  </ul>
<% else %>
  <h3>behavior report not found</h3>
<% end %>

<p>Find me in app/views/behavior_reports/show.html.erb</p>
